/*Gemensam utformning för hela hemsidan. Färgen på bakgrunden i botten samt vilka textstilar som ska användas och i vilken ordning*/
body{
	font-family: Helvetica, Verdana, sans-serif;
	background-color:#DCDCDC; 
}

/*Egenskaper för rubriknivå 1. Speciell färg samt stor text med stort radavstånd*/
h1{
	color:#696969;
	font-size:2.5em; 
	font-weight: bold;
}

/*Egenskaper för rubriknivå 2*/
h2{
	color:#505050;
	font-size:2em; 
	line-height: 2.3em;
	font-weight: bold;
}

/*Egenskaper för rubriknivå 3*/
h3{
	color:#505050;
	font-size:1.5em;
	line-height: 1.8em;
	font-weight: bold;
}

/*Egenskaper för listor. Fetstil och extra radavstånd*/
ul{
	font-weight: bold;
	border-style: solid;
	border-color: #6FA818;
	border-width: 1px; 
	border-bottom: none;
	margin: 0px;
	padding: 0;
	width: 10em;
}

/*Egenskaper för vanliga texten*/
p{
	font-size:1em;
	line-height: 1.5em;
}

/*Egenskaper för bilder. Marginaler för snygg placering samt storlek*/
img{
	width: 20em;
	margin: auto;
}

/*Egenskaper för länkar, färgförändringar beroende om de klickats på osv.*/
a{
	color: #696969;
}

a:hover{
	color: #000000;
}

.button{
	text-decoration: none;
	background-color: #A8FF24;
	border-bottom-style: solid;
	border-bottom-color: #6FA818;
	border-bottom-width: 1px;
	padding: 2em;
	display: block;
	width: 12em;
}

li{
	list-style-type: none;
}

/*Egenskaper för det omgärdande blocket*/
#container{ 

	}

/*Egenskaper för sidhuvudet*/
#top{ 
	background-image: url(pictures/green.jpg); 
	padding: 2em 2em 2em 2em;
	width: 68em;
	}

/*Egenskaper för navigationsblocket*/
#navigation{
	width: 10em;
	float: left;
}

/*Egenskaper för innehållsblocket*/
#content{
	background-image: url(pictures/green2.jpg);
	background-position: center;
	margin-left: 16em;
	padding: 2em 2em 2em 2em;
	width: 52em;
	text-align: center;
	}

/*Egenskaper för sidfoten. Är högerjusterad*/
#foot{
	color: #808080;
	font-size: 11px;
	margin-left: 25em;
}


/*Specifika egenskaper för klassen bildtext för att de inte ska sticka ut 
   lika mycket som övrig text samt hamna snyggt i förhållande till bilden.*/
.bildtext{
	color:#808080;
	font-size:11px;
	margin-left: 2em;
}

